/* Login Container e seus elementos */
.login-container {
  width: 380px;
  max-width: 100vw;
  text-align: center;
  padding: 25px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-container h1 {
  font-size: 28px;
  color: var(--black);
  margin-bottom: 20px;
}

/* Div Inputs e seus elementos */
.login-container .inputs {
  border: 1px solid var(--white);
  width: var(--width-elements);
  display: flex;
  align-items: center;
  padding: 0 10px;
  background: var(--white);
}

.login-container .inputs:first-of-type {
  margin-bottom: 25px;
}

.login-container .inputs input {
  background: transparent;
  width: 100%;
  border: none;
  padding: 15px 0;
  outline: none;
}

/* Div rememberButtons e seus elementos */
.login-container .rememberButtons {
  width: var(--width-elements);
  margin: 10px 0;
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--gray);
}
.login-container .rememberButtons .checkEl [type="checkbox"] {
  margin-right: 2px;
}
