/* Login Container e seus elementos */
.login-container {
  width: 380px;
  max-width: 100vw;
  text-align: center;
  padding: 25px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-container h1 {
  font-size: 28px;
  color: var(--black);
  margin-bottom: 20px;
}